body {
  background-image: url('../img/dark_embroidery.png');
}

.page {
  position: relative;
  margin: 0px auto
}

.front {
  position: relative;
  top: 0px;
  height: 200px;
  background-image: url('../img/exclusive_paper.png');
  box-shadow: 0px 5px 5px black;
}
.tubular-mosaic {
  position: relative;
  top: 50px;
  margin: 0px auto;
  background-image: url('../img/mosaic-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 100px;

}

.jumbotron {
  background-color: #00304c;
}

.instagram {
  background: url('../img/instagram.png') no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
}

.search-box {
  position: relative;
  top: 50px;
  height: 75px;
}
