{{define "base"}}
<html>
  <head>
    <title>Tubular Hackathon</title>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/app.css" />
  </head>
  <body>
    <div class="page">
      <div class="front">
        <div class="tubular-mosaic"></div>
      </div>
      {{template "content" .}}
    </div>
  </body>
</html>
{{end}}
