{{define "base"}}
<html>
  <head>
    <title>Tubular Hackathon</title>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <link type="text/css" href="/static/css/bootstrap.css" />
  </head>
  <body>
    <div>
      {{template "content" .}}
    </div>
  </body>
</html>
{{end}}
