{{ define "content" }}
<div class="front">
  <div class="tubular-mosaic"></div>
</div>
<div class="search-box">
  <form method="GET" action="/search">
    <div class="form-group">
      <input id="username" class="form-control" type="input" name="username" placeholder="Search for an Instagram username" />
    </div>
  </form>
</div>
{{ end }}
