{{ define "content" }}
  <div class="container-fluid search-box">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-1">
        <div class="instagram"></div>
      </div>
      <div class="col-md-6">
        <form method="GET" action="/search">
          <div class="form-group">
            <input id="username" class="form-control" type="input" name="username" placeholder="Search for an Instagram username" />
          </div>
        </form>
    </div>
  </div>
{{ end }}
